

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">



      <div class="inner cover">
        <h1 class="cover-heading">Contact The Team </h1>
        <p class="lead">Contacts the developer for any questions tips or any suggetions about the website</p>
        <p class="lead">
          <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/macbohn" data-format="hover" data-related="false" data-text="McCartney Bohn"></script>
        </p>
      </div>

      <div class="mastfoot">

      </div>

    </div>

  </div>

</div>
